

* {
  box-sizing: border-box;
}
.container{
  color: #797e83;
}


.blockquote {
	margin: em(32px, 24px);
	padding: 0 0 0 5%;
  border-left: em(8px, 24px) solid palette(riptide, base);
  border-radius: $br--default;
	font-weight: $font-weight--light;
	font-style : italic;
	font-size : em(20px);
}

.link{
  align-self: center;
  color: $malibu;
  text-decoration: none;
  font-weight: $font-weight--bold;
}

.container {
	width: 90%;
	margin: auto;
}

// Images
.img--avatar {
  margin-bottom: em(24px);
  max-width: 100%;
  height: auto;
}

// Form elements
.form__input{
	display: block;
	padding: 15px;
	width: 100%;
	outline: 0;
	border: 0;
}

.nav a:hover {
    color: #FFF;
}

.grid__row{
  padding-top: 2em;
}











//end
